/*
_________ __                 __   ___.                            .______________                                                __                            
/   _____//  |______    ____ |  | _\_ |__ _____    ______ ____   __| _/\_   _____/___________    _____   ______  _  _____________|  | __     ____   ______ ______
\_____  \\   __\__  \ _/ ___\|  |/ /| __ \\__  \  /  ___// __ \ / __ |  |    __) \_  __ \__  \  /     \_/ __ \ \/ \/ /  _ \_  __ \  |/ /   _/ ___\ /  ___//  ___/
/        \|  |  / __ \\  \___|    < | \_\ \/ __ \_\___ \\  ___// /_/ |  |     \   |  | \// __ \|  Y Y  \  ___/\     (  <_> )  | \/    <    \  \___ \___ \ \___ \
/_______  /|__| (____  /\___  >__|_ \|___  (____  /____  >\___  >____ |  \___  /   |__|  (____  /__|_|  /\___  >\/\_/ \____/|__|  |__|_ \ /\ \___  >____  >____  >
       \/           \/     \/     \/    \/     \/     \/     \/     \/      \/               \/      \/     \/                        \/ \/     \/     \/     \/
*/

*, div, img, span, p, a, button, input, form, textarea, select, fieldset, legend, article, aside, footer, header, nav, section, sup, sub, ul, ol, li, dt, dl {
    display: block !important;
    float: none !important;
    position: relative !important;
}

script {
    display: none !important;
}